:root {
  --color-primary: #01748e;
  --color-secondary: #fa9c93;
  --color-navbar: #d5c5b8;
  --color-backgroundColor: #e0e0e0;
  --color-darkTag: #9c9283;
  --color-navbarText: #524f4ffa;
  --color-progressBar: #81a08a;
}
